/* general */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik-Regular';
    src: url("../fonts/Graphik-Regular.ttf");
}

body {
    font-family: 'Graphik-Regular';
    -webkit-font-smoothing: antialiased;
}

.flex {
    display: flex;
}

h1, h2 {
    font-weight: 200;
    font-size: 48px;
    line-height: 1.1em;

    margin-bottom: 32px;
}

.btn-purple {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;

    cursor: pointer;

    background-color: #8A05BE;
    border: none;

    min-height: 100%;
    padding: 19px 32px;
}

.btn-purple:hover {
    background-color: #BA4DE3;
}

.link {
    text-decoration-color: #CCC;
    color: #8A05BE;

    position: relative;
}

.link::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background: currentColor;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.link:hover::after {
    transform: scaleX(1);
}

/* nav */

.nav {
    width: 100%;
    height: 80px;

    top: 0;
    position: fixed;

    font-size: 18px;

    align-items: center;
    justify-content: space-between;

    background-color: #FFF;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.20);
}

.navbar {
    align-items: center;
}

.navbar img {
    width: 80px;
    margin-left: 15px;
}

.navbar ul {
    overflow: hidden;
    list-style-type: none;
}

.navbar ul li {
    float: left;
    padding: 19px 12px;
}

.navbar a {
    color: #868686;
    text-decoration: none;
}

.nav a:hover {
    color: #BA4DE3;
}

.navbar .active a {
    font-weight: 500;
    color: #8A05BE;
}

.nav-btn {
    height: 100%;
    align-items: center;
}

.nav-btn a {
    padding: 19px 32px;
    color: #8A05BE;
    text-decoration: none;
}

/* containers */

/* woman-jumping */

.container-woman-jumping {
    height: 700px;
    margin: 160px 20vh 100px 20vh;

    align-items: center;
    justify-content: space-around;

    background-image: url("../img/woman-jumping@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #FFF;
}

.text-woman-jumping {
    font-size: 18px;
    line-height: 1.5;
    max-width: 19rem;
}

.text-woman-jumping p {
    margin-bottom: 32px;
}

/* inclined-device */

.container-inclined-device {
    padding: 80px;

    align-items: center;
    justify-content: space-around;

    background-color: #F5F5F5;

    color: #767676;
}

.container-inclined-device span, a {
    color: #8A05BE;
}

.container-inclined-device a {
    text-decoration-color: #CCC;
}

.text-inclined-device {
    margin: 0 -20vh 0 20vh;
    max-width: 30rem;
}

/* holding-card */

.container-holding-card {
    padding: 80px;

    align-items: center;
    justify-content: space-around;

    background-color: #FFF;

    color: #767676;
}

.container-holding-card span {
    color: #8A05BE;
}

.text-holding-card {
    max-width: 30rem;
}

.container-holding-card img {
    width: 40vh;
}

/* footer */

.footer {
    height: 80vh;
    background-color: #000;
}